.containerInfo {
    box-shadow: -1px 0px 34px -8px rgba(0, 0, 0, 0.4);
    border: none;
    transform: translateY(-5px);
}
.containerInfo-pills{
    background-color: #f0f2f5;
    width: 120px;
    border-radius: 50px; 
    padding: 5px 15px;
}
.containerInfo-pills p{
    margin:0;
}
.containerImg {
    width: 400px;
  
}

.containerImg img {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: -1px 0px 34px -8px rgba(0, 0, 0, 0.4);
    object-fit: center;
    object-position: center;
    transition: all 0.5s ease;
}