.locationCard {
    flex-shrink: 0;
    width: 300px;
    height: 450px;
    margin: 15px;
    border: 1px solid #d8d5d5;
    background-color: #FFF;
    transition: all 0.4s ease;
    cursor: pointer;
}

.locationCard:hover {
    box-shadow: 0px 20px 25px rgba(33, 150, 243, 0.6), 0px 0px 35px rgba(0, 229, 255, 0.9);
    background-color: #cfe5f8;
    border: none;
    transform: translateY(-5px);
}

.locationImage {
    width: 250px;
    height: 50%;
}

.locationImage img {
    width: 220px;
    height: 220px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: -1px 0px 34px -8px rgba(0, 0, 0, 0.4);
    object-fit: center;
    object-position: center;
    transition: all 0.5s ease;
}

.locationText {
    font-size: 15px;
    width: 90%;
    min-height: 70px;
    line-height: 1.4;
    transition: color 0.3s ease;
    height: 40%;
}

.locationText p {
    font-size: 15px;
    width: 100%;
    text-wrap: balance;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.locationCard:hover .locationImage img {
    filter: drop-shadow(0px 6px 12px rgba(33, 150, 243, 0.6)) drop-shadow(0px 0px 35px rgba(0, 229, 255, 0.9));
    transform: rotate(-5deg) scale(1.1);
}

.locationCard:hover .locationText h3 {
    color: #0D47A1;
}

.locationCard:hover .locationText p {
    color: #1976D2;
}