* {
    font-family: "Fredoka", sans-serif;
}
.navbarLogo{
    width: 120px;
    height: 60px;
}

.characterContainer {
    display: flex;
    height: 600px;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: auto;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
}

@media (max-width: 768px) {
    .characterContainer {
        display: flex;
        height: 400px;
       
    }
}
.footer{
    display:flex; 
    align-items:center;
    justify-content: center;
}
.footer a{
    text-decoration: none;
    color:#fdf078;
    font-size: 20px;
}